// Define variables for your color scheme

// ================= Globals
$white: #FFFFFF;
$black: #333332;
$lightblue:aliceblue;
$lightgrey: #999;
$light: 200;
$regular: 400;
$semibold: 600;
$bold: 700;
$xbold: 800;
$xxbold: 900; // Black
$smallwidth: 72%;
$paddingwrapper: 14%;
